@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.2s ease-in-out;
}
::-moz-selection {
  /* Code for Firefox */
  @apply bg-teal-200;
}

::selection {
  @apply bg-teal-200;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-600;
}

.dark body::-webkit-scrollbar-track {
  @apply bg-black;
}

.dark body::-webkit-scrollbar-thumb {
  @apply bg-neutral-800;
}

.dark ::-moz-selection {
  /* Code for Firefox */
  @apply bg-teal-900;
}

.dark ::selection {
  @apply bg-teal-900;
}

section {
  @apply py-12;
}

h1,
h2,
h3,
a,
button {
  @apply font-display tracking-tighter;
}

.line-text {
  @apply overflow-hidden;
}

.line-text:after {
  @apply bg-slate-500 inline-block w-1/4 align-middle relative left-3;
  height: 1px;
  content: "";
  margin-right: -50%;
}

.dark .line-text:after {
  @apply bg-slate-400;
}

a:hover,
a:focus,
button:hover,
button:focus {
  @apply underline cursor-pointer;
}
